@tailwind base;
@tailwind components;
@tailwind utilities;


button{
background-color: snow;
font-size: 20px;
border: none;
border-radius: 4px;
box-shadow: 0px 0px 5px cyan 0px 0px 25px cyan;
}

button:hover{
    box-shadow: 0px 0px 5px cyan ,
    0px 0px 25px cyan,
     0px 0px 50px cyan,
    0px 0px 100px cyan;
    }